RewriteEngine On

# Favicon redirect (favicon.ico -> favicon.svg)
RewriteRule ^favicon\.ico$ /assets/favicon.svg [L,R=302]

# Sitemap
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
